# Laravel
/vendor
/node_modules
/public/build
/public/hot
/storage/*.key
/storage/app/public
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/bootstrap/cache/*
.phpunit.result.cache

# Env files
.env
.env.backup
.env.production

# Logs
/storage/logs/*.log
npm-debug.log
yarn-error.log

# IDE / OS files
/.idea
/.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store
Thumbs.db

# Testing
/.phpunit.cache

# SQLite
*.sqlite
!database/database.sqlite